* {
    font-family: 'PT Sans', sans-serif;
}

.bot {
    margin-left: auto;
    margin-right: auto;
}

.chatbox {
    border: 1px solid black;
    height: 300px;
    width: 300px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    overflow-y: scroll;
}

.chat-area {
    text-align: center;
}

h1 {
    text-align: center;
}

.chat-field {
    font-size: 1.1em;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    padding-left: 5px;
}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message {
    display: block;
    border: 1px solid black;
    border-radius: 7px;
    max-width: 200px;
    margin-top: 5px;
    padding: 6px;
    clear: both;
}

.messages-bot {
    background-color: lightblue;
   margin-left: 5px;
   float: left;
   margin-right: auto;
}

.messages-user {
    float: right;
    margin-left: auto;
    margin-right: 5px;
    text-align: right;
    background-color: lightgreen;
}