* {
    margin: 0;
}

#landing {
    overflow-y:scroll;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.mascot {
    display: block;
    margin: 0 auto;
    height: 60%;
    width: 24%;
    padding: 2px;
}